<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ubox.etec.com.rumbox">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        <uses-permission android:name="android.permission.INTERNET" />
        <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

        <activity
            android:name=".Login2Activity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppThemeNOActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Inscripcion_tarjeta_credito_cliente"
            android:label="@string/titulo_formulario_registro_tarjeta_credito" />
        <activity android:name=".Servicio_encomienda_Activity" />
        <activity android:name=".Cubicacion_Activity" />
        <activity android:name=".Historial_encomienda_Activity" />
        <activity
            android:name=".Inscripcion_cliente_Activity"
            android:label="@string/titulo_formulario_registro_cliente" />

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->

        <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
        <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity android:name=".MainActivity" />

        <service android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Menu_principal"
            android:label="@string/title_activity_menu_principa_"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Tipo_servicio"
            android:label="@string/title_activity_tipo_servicio"
            android:theme="@android:style/Theme.Holo.Light" />
        <activity
            android:name=".tabtest"
            android:label="@string/title_activity_tabtest"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".historial"></activity>
    </application>

</manifest>